

.menu__list {
  display: grid;
  grid-template-columns: 400px;
  gap: 15px;
}

.menu__item {
  display: grid;
  grid-template-columns: 1fr;
}

.menu__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__block h3 {
  font-size: 20px;
  line-height: 20px;
}

.menu__block p {
  font-size: 18px;
  line-height: 18px;
}

.menu__block span {
  font-size: 18px;
  line-height: 18px;
}
