.menuList {
  display: grid;
  grid-template-columns: 400px;
  gap: 15px;
}

.menuItem {
  display: grid;
  grid-template-columns: 1fr;
}

.menuItem a {
  position: relative;
  color: var(--color-main);
  text-transform: uppercase;
  display: block;
  padding: 10px;
  border: 2px solid var(--counterBtn);
  border-radius: 5px;

  transform: scale(1);
  transition: all 0.7s ease;

  &:hover {
    transform: scale(0.9);
  }

  &::after {
    position: absolute;
    content: "more";
    left: auto;
    right: 10px;
  }
}
