.restaurantsPageWrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.restaurantsPageNav {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-Page);
  padding: 0 20px;
}

.restaurantsPageList {
  display: flex;
  align-items: center;
  margin: 0 auto;
  column-gap: 15px;
}

.restaurantsPageMenu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}


