.reviewInner{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviewInner h3 {
    font-size: 20px;
    line-height: 20px;
  }
  
  .reviewInner p {
    font-size: 18px;
    line-height: 18px;
  }
  
  .reviewInner span {
    font-size: 18px;
    line-height: 18px;
  }