:root {
  --color-main: #000;
  --color-accent: #fff;
  --background-color-Page: #fff;
  --background-color-Accent: #e3e3e3;
  --pogressBarBG: blue;
  --counterBtn: #f0ad4e;
}

.active {
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: all 0.7s ease;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--counterBtn);
  }
}

.active:hover {
  opacity: 0.5;
  transform: scale(0.9);
}
