.login {
  display: flex;
  gap: 10px;
}

.loginInput {
  max-width: 100px;
  padding: 5px 0px 5px 10px;
  background-color: var(--background-color-Accent);
  border-radius: 5px;
  transition: all 0.3s;
}

.loginInput:focus {
  outline: none;
  border: 1px solid #ccc;
}

.loginInput::placeholder {
  color: #bbb;
}

.loginBtn {
  padding: 7px 10px;

  background-color: var(--background-color-Page);
  color: var(--counterBtn);
  border: 2px solid var(--counterBtn);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.loginBtn:hover,
.loginBtn:focus {
  background-color:var(--background-color-Accent);
  
}
