.dishPageWrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  gap: 10px;
}

.dishBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--counterBtn);
  border-radius: 5px;
  padding: 7px 10px;
}

.dishBlock h3 {
  font-size: 24px;
  line-height: 24px;
}

.dishBlock p {
  font-size: 16px;
  line-height: 16px;
}

.dishIngredients {
  font-size: 16px;
  line-height: 16px;
}
