.watchInner {
  width: 150px;
  padding: 7px 10px;
  border: 2px solid var(--counterBtn);
  border-radius: 5px;
}

.watchInner p {
  font-size: 14px;
  line-height: 20px;
}

.softOrange {
  color: var(--counterBtn);
}

.dark {
  color: var(--color-main);
  background-color: var(--background-color-Page);
}
